body {
  background-color: $bodycolor !important;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  background: $primary;
  height: 100%;
  width: 80px;
  transition: width 0.3s ease, padding-right 0.3s ease;

  &.active{
    width: 260px;
    padding-right: 15px;
  }
  
  .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;

    a {
      i {
        font-size: 25px;
        color: #fff;
        height: 40px;
        min-width: 50px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
  
        &.active{
          min-width: 68px;
        }
      }
      &:hover{
        background: white;
        border-radius: 10px;

        i {
          color: $primary
        }
      }
    }
    
    .logo-name{
      font-size: 22px;
      color: #fff;
      font-weight: 600;
      width: 100%;
    }
  }
}

.nav-links{
  height: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;

  li{
    position: relative;
    list-style: none;
    margin-bottom: 10px;

    i{
      height: 40px;
      min-width: 50px;
      text-align: center;
      line-height: 40px;
      color: white;
      font-size: 20px;

      &.active{
        min-width: 60px;
      }
    }

    a{
      display: flex;
      align-items: center;
      text-decoration: none;

      .link-name{
        font-size: 15px;
        font-weight: 400;
        color: white;
        opacity: 0;
        transition: opacity 0.5s ease-in;

        &.active {
          opacity: 1;
        }
      }
    }
    &.active {
      background: white;
      border-radius: 10px;
      .link-name{
        color: $primary;
      }
  
      i{
        color: $primary;
      }
    }
  }
  :hover {
    background: white;
    border-radius: 10px;
    .link-name{
      color: $primary;
    }

    i{
      color: $primary;
    }
  }
}

.divisor {
  color: #fff;
}

.sidecontent {
  position: fixed;
  right: 0;
  background: white;
  height: 100%;
  width: calc(100% - 80px);
  padding: 10px 10px 0px 10px;
  transition: width 0.3s ease;

  &.active{
    width: calc(100% - 260px);
  }
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-title{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  color: $primary;
  width: 100%;
}

.crear-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 50vw;
  border: 1px solid $primary;
  background: $bodycolor;

  .title{
    font-size: 15px;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .button{
    width: 170px;
    background: $primary;
    color: white;
    padding: 5px;
    margin-bottom: 5px;

    i {  
      font-size: 15px;
      height: 20px;
      min-width: 30px;
      line-height: 24px;
      font-weight: 600;
    }
    span{
      font-size: 15px;
      font-weight: 600;
    }

    &:hover{
      background: $secondary;
      box-shadow: 1px 1px 5px rgb(115, 115, 115);
    }
  }
}

.list-container {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border-radius: 10px;

  .custom-table{
    border-color: #8d8d8d;
  }

  .header-table{
    background-color: $primary;
    color: white;
  }
}


.button-delete {
  background: #bf0000;
  border: none;
  border-radius: 5px;
  i{
    color: white;
  }

  &:hover{
    background: #d90000;
    box-shadow: 1px 1px 5px rgb(115, 115, 115);

  }
}

.button-edit {
  background: $primary;
  border: none;
  border-radius: 5px;
  margin-right: 10px;

  width: 30px;
  height: 30px;

  i{
    color: white;
  }

  &:hover{
    background: $primaryOffset;
    box-shadow: 1px 1px 5px rgb(115, 115, 115);
  }
}

.button-clear{
  background-color: #bf0000;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  width: 35px;
  height: 35px;

  i{
    color: white;
  }

  &:hover{
    background-color: #d90000;
    box-shadow: 1px 1px 5px rgb(115, 115, 115);
  }
}

.button-cancel {
  background-color: #bf0000;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  width: 150px;
  height: 35px;
  color: white;

  &:hover{
    background-color: #d90000;
    box-shadow: 1px 1px 5px rgb(115, 115, 115);
  }
}